<div class="image-grid">
  {{!-- model.forEach((image) => {}) --}}
  {{#each model.data as |image|}}
    <div class="image-grid__item">
      {{#unless image.is_album}}
        <figure class="post">
          <div class="post__frame">
            <img src="{{ image.link }}" alt="">
          </div>
          <figcaption>
            <p>{{ image.title }}</p>
          </figcaption>
        </figure>
      {{else}}
        <figure class="post">
          <div class="post__frame">
            <h2>Image not found</h2>
          </div>
          <figcaption>
            <p>{{ image.title }}</p>
          </figcaption>
        </figure>
      {{/unless}}
    </div>
  {{/each}}
</div>

{{outlet}}
